<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.depromeet.watni">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_app_icon"
    android:label="@string/app_name"
    android:usesCleartextTraffic="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".splash.view.SplashActivity"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".splash.view.OnboardingActivity" />
    <activity android:name=".home.MainActivity" />
    <activity android:name=".sign.view.LoginActivity" />
    <activity android:name=".sign.view.JoinActivity" />
    <activity android:name=".group.view.GroupActivity" />
    <activity android:name=".group.view.StartGroupActivity" />
    <activity android:name=".group.view.GroupNameActivity" />
  </application>

</manifest>